.detail-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    .markdown-body{
        span.hljs-comment{
            display: block;
        }
    }
    .detail-info{
        .author{
            border-top: 1px solid #eee;
            color: #222;
            font-size: 16px;
            font-weight: 800;
            padding: 10px 0;
        }
        .time{
            color: #767676;
            font-weight: 800;
            font-size: 12px;
        }
    }
}
